In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import os, time, math, json
with open('/Users/yawagipong/.secret/tmdb_api.json', 'r') as f:
          login = json.load(f)
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok = True)
os.listdir(FOLDER)

['title.ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title.akas.csv.gz',
 'tmdb_results_combined.csv.gz']

In [2]:
from sqlalchemy.types import *
from sqlalchemy.engine import create_engine
from sqlalchemy_utils import create_database, database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
username = "root"
password = quote_plus("8)2sENx?AlFlHq}d5yU[")
db_name = "movies"

connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'
engine = create_engine(connection)

In [4]:
create_database(connection)

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'movies'; database exists")
[SQL: CREATE DATABASE movies CHARACTER SET = 'utf8']
(Background on this error at: https://sqlalche.me/e/14/f405)

In [5]:
database_exists(connection)

True

In [6]:
if database_exists(connection) == False:
    create_database(connection)

else:
    print('The database already exists')

The database already exists

In [7]:
tmdb.API_KEY = login['api-key']

In [8]:
ratings = pd.read_csv('Data/title.ratings.csv.gz')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1944
1  tt0000002            5.8       263
2  tt0000005            6.2      2579
3  tt0000006            5.1       177
4  tt0000007            5.4       809

In [9]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [10]:
basics = basics.drop(columns = ['originalTitle', 'isAdult', 'titleType'])
basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama
3,tt0088751,The Naked Monster,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,Crime and Punishment,2002,NaN,126,Drama

In [11]:
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...
84729,tt9914942,Life Without Sara Amat,2019,NaN,74,Drama,[Drama]
84730,tt9915872,The Last White Witch,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
84731,tt9916170,The Rehearsal,2019,NaN,51,Drama,[Drama]
84732,tt9916190,Safeguard,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
84733,tt9916362,Coven,2020,NaN,92,"Drama,History","[Drama, History]"

In [12]:
exploded_genres = basics.explode('genres_split')

In [13]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [14]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [15]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [16]:
basics['genre_id'] = basics['genres_split'].replace(genre_map)
basics = basics.drop(columns = 'genres_split')
basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002,NaN,126,Drama,[Drama]

In [17]:
genres = pd.DataFrame({'genre_name': genre_map.keys(),
                            'genre_id': genre_map.values()})
genres.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [18]:
title_genres = basics.copy()
title_genres.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002,NaN,126,Drama,[Drama]

In [19]:
title_genres = title_genres.drop(columns = ['primaryTitle', 'startYear', 'endYear', 'runtimeMinutes',
                            'genres'])

title_genres.head()

      tconst                    genre_id
0  tt0035423  [Comedy, Fantasy, Romance]
1  tt0062336                     [Drama]
2  tt0069049                     [Drama]
3  tt0088751    [Comedy, Horror, Sci-Fi]
4  tt0096056                     [Drama]

In [20]:
basics = basics.drop(columns = ['endYear', 'genres', 'genre_id'])
basics.head()

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70
2,tt0069049,The Other Side of the Wind,2018,122
3,tt0088751,The Naked Monster,2005,100
4,tt0096056,Crime and Punishment,2002,126

In [21]:
tmdb_data = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,2102.0,PG

In [22]:
tmdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2516 non-null   object
 1   adult                  2514 non-null   float64
 2   backdrop_path          1337 non-null   object
 3   belongs_to_collection  202 non-null    object
 4   budget                 2514 non-null   float64
 5   genres                 2514 non-null   object
 6   homepage               173 non-null    object
 7   id                     2514 non-null   float64
 8   original_language      2514 non-null   object
 9   original_title         2514 non-null   object
 10  overview               2462 non-null   object
 11  popularity             2514 non-null   float64
 12  poster_path            2252 non-null   object
 13  production_companies   2514 non-null   object
 14  production_countries   2514 non-null   object
 15  release_date           2499 non-null   object
 16  revenue                2514 non-null   float64
 17  runtime                2514 non-null   float64
 18  spoken_languages       2514 non-null   object
 19  status                 2514 non-null   object
 20  tagline                1071 non-null   object
 21  title                  2514 non-null   object
 22  video                  2514 non-null   float64
 23  vote_average           2514 non-null   float64
 24  vote_count             2514 non-null   float64
 25  certification          802 non-null    object
dtypes: float64(9), object(17)
memory usage: 511.2+ KB

In [23]:
tmdb_data = tmdb_data.drop(columns = ['adult', 'backdrop_path', 'belongs_to_collection',
                                     'genres', 'homepage', 'id', 'original_language',
                                     'original_title', 'overview', 'popularity',
                                     'poster_path', 'production_companies', 'production_countries',
                                     'release_date', 'runtime', 'spoken_languages', 'status',
                                     'tagline', 'title', 'video', 'vote_average', 'vote_count'])
tmdb_data.head()

     imdb_id      budget     revenue certification
0          0         NaN         NaN           NaN
1  tt0113026  10000000.0         0.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694    150000.0  12854953.0            PG

In [24]:
tmdb_data.rename(columns = {'imdb_id':'tconst'}, inplace = True)
tmdb_data.head()

      tconst      budget     revenue certification
0          0         NaN         NaN           NaN
1  tt0113026  10000000.0         0.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694    150000.0  12854953.0            PG

In [25]:
basics.dtypes

tconst            object
primaryTitle      object
startYear          int64
runtimeMinutes     int64
dtype: object

In [26]:
ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [27]:
genres.dtypes

genre_name    object
genre_id       int64
dtype: object

In [28]:
title_genres.dtypes

tconst      object
genre_id    object
dtype: object

In [29]:
tmdb_data.dtypes

tconst            object
budget           float64
revenue          float64
certification     object
dtype: object

In [30]:
key_len = title_genres['tconst'].fillna('').map(len).max()
title_len = title_genres['genre_id'].fillna('').map(len).max()
df_schema = {
    "tconst": String(key_len+1), 
    "title_genres.dtypes": Text(title_len+1)}

In [31]:
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_genres (tconst, genre_id) VALUES (%(tconst)s, %(genre_id)s)]
[parameters: ({'tconst': 'tt0035423', 'genre_id': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'genre_id': ['Drama']}, {'tconst': 'tt0069049', 'genre_id': ['Drama']}, {'tconst': 'tt0088751', 'genre_id': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'genre_id': ['Drama']}, {'tconst': 'tt0100275', 'genre_id': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0108549', 'genre_id': ['Comedy', 'Mystery']}, {'tconst': 'tt0113026', 'genre_id': ['Musical', 'Romance']}  ... displaying 10 of 84734 total bound parameter sets ...  {'tconst': 'tt9916190', 'genre_id': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'genre_id': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
q = """
SELECT *
FROM title_genres
LIMIT 5;
"""

pd.read_sql(q, engine)

In [ ]:
engine.execute('ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);')

In [ ]:
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'runtimeMinutes':Integer()}

In [32]:
basics.to_sql('basics',engine,dtype=df_schema,if_exists='replace',index=False)

84734

In [33]:
q = """
SELECT *
FROM basics
LIMIT 5;
"""

pd.read_sql(q, engine)

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70
2,tt0069049,The Other Side of the Wind,2018,122
3,tt0088751,The Naked Monster,2005,100
4,tt0096056,Crime and Punishment,2002,126

In [34]:
engine.execute('ALTER TABLE basics ADD PRIMARY KEY (`tconst`);')

In [35]:
key_len = ratings['tconst'].fillna('').map(len).max()
df_schema = {
    "tconst": String(key_len+1), 
    "averageRating": Float(),
    'numVotes':Integer()}

In [36]:
ratings.to_sql('ratings',engine,dtype=df_schema,if_exists='replace',index=False)

486225

In [37]:
q = """
SELECT *
FROM ratings
LIMIT 5;
"""

pd.read_sql(q, engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1944
1  tt0000002            5.8       263
2  tt0000005            6.2      2579
3  tt0000006            5.1       177
4  tt0000007            5.4       809

In [38]:
engine.execute('ALTER TABLE ratings ADD PRIMARY KEY (`tconst`);')

In [39]:
key_len = tmdb_data['tconst'].fillna('').map(len).max()
cert_len = tmdb_data['certification'].fillna('').map(len).max()
df_schema = {
    "tconst": String(key_len+1), 
    "budget": Float(),
    'revenue':Float(),
    'certification':Text(cert_len+1)}

In [40]:
tmdb_data.to_sql('tmdb_data',engine,dtype=df_schema,if_exists='replace',index=False)

2516

In [41]:
q = """
SELECT *
FROM tmdb_data
LIMIT 5;
"""

pd.read_sql(q, engine)

      tconst      budget     revenue certification
0          0         NaN         NaN          None
1  tt0113026  10000000.0         0.0          None
2  tt0113092         0.0         0.0          None
3  tt0116391         0.0         0.0          None
4  tt0118694    150000.0  12855000.0            PG

In [42]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`tconst`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'tmdb_data.PRIMARY'")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [43]:
genres.to_sql('genres',engine,dtype=df_schema,if_exists='replace',index=False)

26

In [44]:
q = """
SELECT *
FROM genres
LIMIT 5;
"""

pd.read_sql(q, engine)

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4